<div class="post-list">
  <% page.posts.each(function (post) { %>
  <section class="post-item">
    <a class="post-item-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
    <div class="post-item-summary">
      <% if (post.excerpt) { %>
        <%- strip_html(post.excerpt).substr(0, 240) %>
      <% } else { %>
        <%- strip_html(post.content).substr(0, 240) %>
      <% } %>
      <a class="read-more" href="<%- url_for(post.path) %>"> ... </a>
    </div>
    <div class="post-item-extra">
      <div class="date"><%- date(post.date, "YYYY.MM.DD") %></div>
      <div class="tags">
        <% post.tags.map(tag => tag.name).forEach(function (tag) { %>
        <a class="tag-item" href="/tags/<%- tag %>" style="color: #d1d5da;"><%- tag %></a>
        <% }) %>
      </div>
    </div>
  </section>
  <% }) %>
</div>

<%- partial('_partial/paginator') %>